@use './abstracts/mixins';
main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: relative;
	gap: 2rem;

	article {
		@include mixins.displayFlex(column, flex-start, stretch);
		grid-column: 1 / 2;
	}
	figure {
		grid-column: 2 / 3;
		.image {
			position: sticky;
			top: 10%;
			bottom: 10%;
			border-radius: 1rem;
			background-color: bisque;
			padding: 4rem;
			max-width: 80%;
			aspect-ratio: 4 / 3;
			margin: 2rem auto;
		}
	}
}
