@use './abstracts/mixins';
#app {
	@include mixins.displayFlex(column, center, center);
}
main {
	transition: opacity 0.3s ease;
	display: grid;
	grid-template-columns: 1fr 1fr;
	@include mixins.respond(Tablet) {
		grid-template-columns: 1fr;
	}
	position: relative;
	gap: 2rem;

	article {
		@include mixins.displayFlex(column, flex-start, stretch);
		grid-column: 1 / 2;
		@include mixins.respond(Tablet) {
			order: 2;
		}
	}
	figure {
		grid-column: 2 / 3;
		border-radius: 1rem;
		@include mixins.respond(Tablet) {
			grid-column: unset;
			order: 1;
			position: sticky;
			top: 0%;
		}
		.image {
			transition: all 0.3s ease;
			position: sticky;
			top: 20%;
			max-width: 100%;
			aspect-ratio: 4 / 3;
			margin: 2rem auto;
			object-fit: cover;
			object-position: center;
			transform-origin: center;
			transform: rotateY(0);
			box-shadow: 2px 2px 4px 4px rgba(black, 0.35);
		}
	}
}
