@use '../abstracts/mixins';
@use '../abstracts/variables';
.btn {
	border: 2px solid variables.$color-primary;
	border-radius: 1rem;
	padding: 2rem;
	display: block;
	transition: all 0.3s ease;
	background-color: variables.$color-primary;
	color: white;
	text-decoration: none;
	text-transform: capitalize;
	font-size: 1.4em;
	margin-top: 6.5rem;

	&:focus,
	&:hover,
	&:active {
		background-color: white;
		color: variables.$color-primary;
		box-shadow: 2px 2px 4px 4px rgba(black, 0.35);
		transform: translateY(-4px);
	}
}
